@model List<GestaodeDespesasAPI.Models.Despesa>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Despesas Cadastradas</h2>
    </div>
    <div class="col-md-12 text-center">
        @foreach(var d in Model)
        {
            <p>
                @d.Id | @d.Descricao | @d.Valor.ToString("C")
            </p>
        }
    </div>
</div>